<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "log out", destroy_user_session_path, method: :delete %>



<% if user_signed_in? %>
  <div>
    <h1>Hello <%= current_user.email %></h1>
  </div>
<% else %>
  <div>
    pleased sign up
  </div>
<% end %>
